form {

    .columns {
        display: table;
        margin: 0 auto;
        padding: 0px 30px;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: initial;

        .first-column {
            display: table-cell;
            vertical-align: top;
            @media(min-width: 768px) {
                padding-right: 10px;
            }
        }
        .second-column {
            display: table-cell;
            vertical-align: top;
            @media(min-width: 768px) {
                padding-left: 10px;
            }
        }

        input:not(.wpcf7-submit), textarea {
            transition: all 0.3s;
            border: none;
            outline: none;
            background: #e6e6e6;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: -0.02em;
            padding: 12px 19px;
            margin: 0;
            margin-bottom: 20px;
            resize: none;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            display: inline-block;

            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:    #5c5c5c;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #5c5c5c;
                opacity:  1;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #5c5c5c;
                opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:    #5c5c5c;
            }
            &:hover {
                box-shadow: 0px 0px 25px 0px #ccc inset;
            }
        }

        textarea {
            height: 202px;
            transition: padding 0.6s;
            &:focus {
                padding: 0;
                padding-left: 10px;
            }
        }
    }
    .buttons {

        .ajax-loader {
            position: absolute;
            padding-top: 15px;
        }
        text-align: center;
        transition: all 0.6s;
        input[type="submit"] {
            font-family: $poiretOne;
            font-size: 13px;
            text-transform: uppercase;
            color: $menu_color;
            font-weight: 600;
            padding: 10px 25px;
            border: 1px solid $menu_color;
            text-decoration: none;
            @media(max-width: 480px) {
                font-size: 12px;
            }
            &:hover {
                background-color: #45D4FF;
                color: $black;
                border-color: cadetblue;
            }
            background: transparent;
            outline: none;
            cursor: pointer;
            transition: all 0.6s;
        }
    }

}
