body.dark {
    $black: #fff;
    $white: #000;

    $gray: gray;

    $logo_color: #0098cb;
    $menu_color: #adaaa3;
    $font_light: #ccc;

    p {
        color: $gray;
    }

    hr {
        border-color: #5A5A5A;
    }

    #wrapper {
        .languages {
            .language {
                &.active a {
                    color: white;
                }
                
                a {
                    color: grey;
                }
            }
        }
    }

    #page-preloader {
        background-color: $white;
    }

    .page-wrap {
        a {
            color: $gray;
        }
        a:hover {
            color: #99ccff;
        }
    }

    form {
        input:not(.wpcf7-submit), textarea {
            background-color: transparent;
            border: 1px solid;
            color: #717171;
            &:hover {
                box-shadow: 0px 0px 24px -6px #ccc inset;
            }
        }
        textarea {
            height: 208px;
        }
        .buttons {
            input[type="submit"] {
                color: $gray;
                &:hover {
                    background-color: brown;
                    border-color: $black;
                    color: $black;
                }
            }
        }
    }

    .testmonial {
        border-bottom: 1px dashed #676767;
        .text-wrapper {
            .title {
                color: $gray;
            }
            .text {
                color: $gray;
            }
        }
    }

    .add-testmonial {
        .send-testmonial {
            a.toggle-form {
                color: $gray;
                &:hover {
                    background-color: brown;
                    color: $black;
                    border-color: $black;
                }
            }
        }
    }

    .header {
        .links {
            /*color: $sub_logo_art_design_color;*/
            a {
                &.light {
                    display: none;
                }
                &.dark {
                    display: block;
                }
            }
        }

        .menu-wrapper {
            &.light {
                display: none;
            }
            &.dark {
                display: block;
            }
            .sub-menu {
                background-color: $white;
                li {
                    border-bottom: 1px dotted $gray;
                    a {
                        color: $menu_color;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
            ul {
                li {
                    a {
                        color: $menu_color;

                        &:hover {
                            color: $black;
                        }
                    }
                    &:not(:last-child):after {
                        color: $menu_color;
                    }
                }
            }
        }
        #menu-header-menu-dark {
            .sub-menu {
                background-color: $black;

                li {
                    a {
                        color: $menu_color;
                    }
                }
            }
        }
    }

    #wrapper {
        background-color: $white;

        .logo {
            a {
                color: $logo_color;
            }
        }

        .links {
            a {
                color: $menu_color;
            }
        }
    }

    .right-panel {
        svg {
            fill: $black;
        }
    }


    #footer {
        background-color: $white;
        color: $gray;
        .social-buttons {
            ul {
                li {
                    a {
                        color: #5F5F5F;
                        &.vk, &.mywed {
                            background-color: #5F5F5F;
                            .st0 {
                                fill: $white;
                            }
                        }

                        &.vk:hover, &.vk:focus {
                            background-color: #45688E;
                        }

                        &.mywed:hover, &.mywed:focus {
                            .st0 {
                                fill: white;
                            }
                        }
                    }
                }
            }
        }
    }
}