#footer {
    padding-top: 30px;
    text-align: center;

    .social-buttons {
        ul {
            padding: 0;
            margin: 0;
            margin-bottom: 15px;
            li {
                list-style: none;

                font-family: "social-icons-v2";
                a {
                    margin: 0 8px;
                    text-decoration: none;
                    color: $black;
                    font-size: 24px;
                    line-height: 24px;
                    i {
                        font-style: normal;
                    }

                    transition: all 0.3s ease-in-out;

                    &.facebook:hover, &.facebook:focus {
                        color: #3b5998;
                    }
                    &.insta:hover, &.insta:focus {
                        color: #BF8360;
                    }

                    &.vk {
                        width: 21px;
                        height: 21px;
                        display: inline-block;
                        position: relative;
                        border-radius: 5px;
                        background-color: black;
                        overflow: hidden;
                        top: 2px;
                        left: 0px;
                        color: transparent;
                        svg {
                            position: relative;
                            top: -1px;
                            .st0 {
                                fill: $white;
                            }
                        }
                    }
                    &.vk:hover, &.vk:focus {
                        background-color: #45688E;
                    }

                    &.mywed {
                        width: 21px;
                        height: 21px;
                        display: inline-block;
                        background-color: $black;
                        border-radius: 4px;
                        position: relative;
                        top: 2px;
                        overflow: hidden;
                        svg {
                            top: -1px;
                            position: relative;
                            transform: scale(0.8);
                            .st0 {
                                transition: all 0.3s;
                                fill: $white;
                            }
                        }
                    }
                    &.mywed:hover, &.mywed:focus {
                        background-color: $white;
                        svg {
                            .st0 {
                                fill: $black;
                            }
                        }
                    }
                }
            }
        }

    }
    #copyright_text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 15px;
        @media(max-width: 768px) {
            padding: 10px 30px 15px;
        }
    }
}