.front-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;

    .wrap {
        position: relative;
        top: 40%;
        margin: 0 auto;
        text-align: center;

        .logo {
            a {
                font-family: $logoFont;
                font-weight: 300;
                text-decoration: none;
                color: $logo_color;
                font-size: 95.5px !important;
                line-height: 1;

                sup {
                    font-family: $poiretOne;
                    font-size: 30.5px;
                    padding-left: 10px;
                }

                @media(max-width: 480px) {
                    & {
                        font-size: 64.5px !important;

                        & sup {
                            font-size: 24.5px;
                            padding-left: 10px;
                        }
                    }
                }

            }
        }

        .links {
            a {
                font-family: $poiretOne;
                color: $menu_color;
                font-size: 24px;
                text-decoration: none;
                font-weight: 600;

                &.left {
                    padding-right: 100px;
                }

                @media(max-width: 735px) {
                    &.left {
                        padding-right: 70px;
                    }
                }

                @media(max-width: 480px) {
                    &.left {
                        padding-right: 60px;
                    }
                    & {
                        font-size: 18px;
                    }
                }
            }
        }

    }
}