.gallery- {
    text-align: center;

    .gallery-preview {
        float: left;
        margin: 0 13px 10px 0;

        @media(max-width: 584px) {
            margin: 0 0 10px 0;
        }

        @media(max-width: 950px) {
            float: none;
            display: inline-block;
        }

        a {
            display: block;
            text-decoration: none;
            font-size: 12px;
            outline: none;

            .name {
                text-align: left;
                padding-bottom: 0px;
                padding-top: 5px;
            }

            &:hover, &:visited {
                color: #707070 !important;
                outline: none;
            }

            img {
                opacity: 0.82;
                transition: opacity 0.3s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

