#wrapper {
    .languages {
        text-align: right;
        .language {
            display: inline-block;
            padding-top: 5px;
            padding-right: 10px;
            font-family: Poiret One;
            font-size: 17px;
            font-weight: 600;

            &.active a {
                color: $black;
            }
            a {
                text-decoration: none;
                color: gray;
            }
        }
    }
}

.header {
    text-align: center;
    .logo {
        padding-top: 50px;
        a {
            font-family: $logoFont;
            font-weight: 300;
            text-decoration: none;
            font-size: 75.5px !important;
            line-height: 0.3;

            sup {
                font-family: $poiretOne;
                font-size: 25.5px;
                margin-left: 16px;
            }
        }
    }

    .links {
        a {
            font-family: $poiretOne;
            color: $sub_logo_art_design_color;
            font-size: 23px;
            padding-left: 85px;
            text-decoration: none;
            font-weight: 600;
            &.light {
                display: block;
            }
            &.dark {
                display: none;
            }
        }
    }



    .menu-wrapper {
        &.dark {
            display: none;
        }

        &.light {
            display: block;
        }
        margin-top: 20px;
        margin-bottom: 0px;

        li.menu-item-has-children > a:after {
            content: "\f107";
            font-family: FontAwesome;
            padding-left: 10px;
        }

        .sub-menu {
            display:none;
            top: 22px;
            padding: 15px 25px;
            z-index: 99;
            left: -25px;
            position: absolute;
            border: 1px solid #eee;
            background-color: $white;

            li {
                display: block;
                text-align: left;
                border-bottom: 1px dotted $gray;
                margin-top: 3px;
                padding-bottom: 3px;

                a {
                    font-size: 13px;
                    white-space: nowrap;
                    color: $black;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: $black;
                    }
                }

                &:not(:last-child):after {
                    content: "";
                    color: transparent;
                    border: 0px !important;
                    margin:0;
                    height: auto;
                }
            }
        }

        ul {
            padding: 0;
            margin: 0;
            li {
                text-align: center;
                list-style: none;
                display: inline-block;
                @media(max-width: 480px) {
                    padding-bottom: 10px;
                }
                a {
                    text-decoration: none;
                    color: $menu_color;
                    text-transform: uppercase;
                    font-family: $poiretOne;
                    font-size: 13px;
                    padding-bottom: 15px;
                    font-weight: 600;
                    transition: color 0.3s;
                    &:hover {
                        color: $black;
                    }
                }

                &:not(:last-child):after {
                    content: "|";
                    color: $menu_color;
                    margin-left: 10px;
                    margin-right: 10px;
                    height: 14px;
                    margin-top: 0px;
                    margin-bottom: -2px;
                    display: inline-block;
                }
            }
        }

        .menu-item-has-children {
            position: relative;
        }
    }

    #menu-header-menu-dark {
        .sub-menu {
            background-color: $black;

            li {
                a {
                    color: $menu_color;
                }
            }
        }
    }
}

body.page .page-wrap {
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;
}