body.light, body:not(.dark) {
    $logo_color: #0098cb;
    $menu_color: #adaaa3;
    $font_light: rgb(128, 145, 122);

    $black: #000;
    $white: #fff;
    
    #wrapper {
        background-color: $white;

        .logo {
            a {
                color: $menu_color;
            }
        }

        .links {
            a {
                color: $menu_color;
            }
        }
    }

    #footer {
        background-color: $white;
        color: $font-light;
    }
}