.foogallery-default.spacing-width-10 a, .foogallery-default.spacing-width-10.foogallery-link-none img {
    width: 100% !important;
    height: auto !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
}

.fbx-loader {
    width: 100px !important;
    height: 100px !important;
    margin-top: -50px !important;
    margin-left: -50px !important;
    background-color: transparent !important;
    box-shadow: none !important; 
}

.fbx-loader>div {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    border: 7px solid rgba(255, 255, 255, 0) !important;
    border-top: 7px solid #02A092 !important;
    margin: 0px !important;
    padding: 0 !important;
    position: absolute !important;
    z-index: 3 !important;
    left: 3px !important;
    right: 3px !important;
    top: 3px !important;
    bottom: 3px !important;
    animation: spin 3s infinite linear !important;

    &:before {
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        right: 0px !important;
        z-index: 1 !important;
        bottom: 0px !important;
        content: "" !important;
        border-radius: 50% !important;
        border: 4px solid transparent !important;
        border-top: 4px solid #017574 !important;
        animation: spin 2s infinite linear !important;
    }
}


.fbx-light .fbx-prev, .fbx-light .fbx-next,.fbx-light .fbx-close {
    background-color: rgba(0,0,0,.8) !important;
    border-color: rgba(0,0,0,.8) !important;
    color: $white !important;
}