.testmonial {
    padding: 30px 0 30px;
    border-bottom: 1px dashed $black;
    .image-wrapper {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .text-wrapper {
        .text {
            font-family: Arial;
            margin: 12px 0 0;
            font-size: 13px;
            line-height: 16px;
            color: #444;
        }
        .title {
            font-size: 18px;
            @media(max-width: 768px) {
                text-align: center;
            }
        }
    }
}

.add-testmonial {
    .send-testmonial {
        text-align: center;

        .toggle-form {
            font-family: $poiretOne;
            font-size: 13px;
            text-transform: uppercase;
            color: $menu_color;
            font-weight: 600;
            padding: 10px 25px;
            border: 1px solid;
            text-decoration: none;
            @media(max-width: 480px) {
                font-size: 12px;
            }
            &:hover {
                background-color: #45D4FF;
                color: $black;
                border-color: cadetblue;
            }
        }
    }
    .form-wrapper {
        margin-top: 30px;
        display: none;

        form {
            textarea {
                height:132px;
            }
        }
    }
}