$logo_color: #0098cb;
$menu_color: #adaaa3;
$font_light: rgb(128, 145, 122);
$black: #000;
$white: #fff;
$gray: gray;

$sub_logo_art_design_color: #f1f1f1;


$logoFont: "logoFont";
$poiretOne: "Poiret One";

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@font-face {
    font-family: $logoFont;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Alexandra Zeferino Two.ttf');
}