@import "_variables.scss";

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    &:focus {
        outline: none !important;
    }
}


@import "_header.scss";
@import "_404.scss";
@import "_contact_form.scss";
@import "_front_page.scss";
@import "_footer.scss";
@import "_testmonials.scss";
@import "_gallery.scss";


@import "_light_color.scss";
@import "_dark_color.scss";

@import "_lightbox.scss";


p {
    font-size: 14px;
    margin: 5px 0;
    padding: 0 15px;
    @media(max-width: 768px) {
        padding: 0 40px;
    }
    color: $black;
}

@media (max-width: 768px) {
    .vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1,
    .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2,
    .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3,
    .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3,
    .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4,
    .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5,
    .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6,
    .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6,
    .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7,
    .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8,
    .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9,
    .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9,
    .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, 
    .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11,
    .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12,
    .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
        padding-right: 0px !important;
    }
}

.page-wrap {
    a {
        color: #0e0e0e;
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        color: #99ccff;
    }

    .copy-block {
        background-color: rgba(255,255,255,0.9);
        border-radius: 3px;
        font-size: 12px;
        padding: 10px;
        position: absolute;
        display: none;
        z-index: 99;
        box-shadow: 0px 0px 20px -10px #999;
    }
}

.right-panel {
    right: 0;
    bottom: 0;
    width: 90px;
    height: 100%;

    .scroll-top-btn {
        display: none;
        width: 25px;
        height: 15px;
        position: fixed;
        bottom: 45px;
        right: 70px;
        @media(max-width: 768px) {
            right: 20px;
        }
        cursor: pointer;
        z-index: 1000;
        background: transparent !important;
    }
}

@media(max-width: 767px) {
    .vc_row {
        margin-right: 0px !important;
    }
}

.fbx-rounded {
    .fbx-inner {
        border: 0px !important;
        border-radius: 0px !important;
    }
    .fbx-prev {
        left: -35px !important;
    }

    .fbx-next {
        right: -35px !important;
    }
}


#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 100500;
}