@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@font-face {
  font-family: "logoFont";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Alexandra Zeferino Two.ttf"); }
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }
  body:focus {
    outline: none !important; }

#wrapper .languages {
  text-align: right; }
  #wrapper .languages .language {
    display: inline-block;
    padding-top: 5px;
    padding-right: 10px;
    font-family: Poiret One;
    font-size: 17px;
    font-weight: 600; }
    #wrapper .languages .language.active a {
      color: #000; }
    #wrapper .languages .language a {
      text-decoration: none;
      color: gray; }

.header {
  text-align: center; }
  .header .logo {
    padding-top: 50px; }
    .header .logo a {
      font-family: "logoFont";
      font-weight: 300;
      text-decoration: none;
      font-size: 75.5px !important;
      line-height: 0.3; }
      .header .logo a sup {
        font-family: "Poiret One";
        font-size: 25.5px;
        margin-left: 16px; }
  .header .links a {
    font-family: "Poiret One";
    color: #f1f1f1;
    font-size: 23px;
    padding-left: 85px;
    text-decoration: none;
    font-weight: 600; }
    .header .links a.light {
      display: block; }
    .header .links a.dark {
      display: none; }
  .header .menu-wrapper {
    margin-top: 20px;
    margin-bottom: 0px; }
    .header .menu-wrapper.dark {
      display: none; }
    .header .menu-wrapper.light {
      display: block; }
    .header .menu-wrapper li.menu-item-has-children > a:after {
      content: "\f107";
      font-family: FontAwesome;
      padding-left: 10px; }
    .header .menu-wrapper .sub-menu {
      display: none;
      top: 22px;
      padding: 15px 25px;
      z-index: 99;
      left: -25px;
      position: absolute;
      border: 1px solid #eee;
      background-color: #fff; }
      .header .menu-wrapper .sub-menu li {
        display: block;
        text-align: left;
        border-bottom: 1px dotted gray;
        margin-top: 3px;
        padding-bottom: 3px; }
        .header .menu-wrapper .sub-menu li a {
          font-size: 13px;
          white-space: nowrap;
          color: #000;
          transition: color 0.3s ease-in-out; }
          .header .menu-wrapper .sub-menu li a:hover {
            color: #000; }
        .header .menu-wrapper .sub-menu li:not(:last-child):after {
          content: "";
          color: transparent;
          border: 0px !important;
          margin: 0;
          height: auto; }
    .header .menu-wrapper ul {
      padding: 0;
      margin: 0; }
      .header .menu-wrapper ul li {
        text-align: center;
        list-style: none;
        display: inline-block; }
        @media (max-width: 480px) {
          .header .menu-wrapper ul li {
            padding-bottom: 10px; } }
        .header .menu-wrapper ul li a {
          text-decoration: none;
          color: #adaaa3;
          text-transform: uppercase;
          font-family: "Poiret One";
          font-size: 13px;
          padding-bottom: 15px;
          font-weight: 600;
          transition: color 0.3s; }
          .header .menu-wrapper ul li a:hover {
            color: #000; }
        .header .menu-wrapper ul li:not(:last-child):after {
          content: "|";
          color: #adaaa3;
          margin-left: 10px;
          margin-right: 10px;
          height: 14px;
          margin-top: 0px;
          margin-bottom: -2px;
          display: inline-block; }
    .header .menu-wrapper .menu-item-has-children {
      position: relative; }
  .header #menu-header-menu-dark .sub-menu {
    background-color: #000; }
    .header #menu-header-menu-dark .sub-menu li a {
      color: #adaaa3; }

body.page .page-wrap {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden; }

body.error404 h1 {
  text-align: center;
  font-family: sans-serif;
  color: red; }

form .columns {
  display: table;
  margin: 0 auto;
  padding: 0px 30px;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: initial; }
  form .columns .first-column {
    display: table-cell;
    vertical-align: top; }
    @media (min-width: 768px) {
      form .columns .first-column {
        padding-right: 10px; } }
  form .columns .second-column {
    display: table-cell;
    vertical-align: top; }
    @media (min-width: 768px) {
      form .columns .second-column {
        padding-left: 10px; } }
  form .columns input:not(.wpcf7-submit), form .columns textarea {
    transition: all 0.3s;
    border: none;
    outline: none;
    background: #e6e6e6;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.02em;
    padding: 12px 19px;
    margin: 0;
    margin-bottom: 20px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block; }
    form .columns input:not(.wpcf7-submit) ::-webkit-input-placeholder, form .columns textarea ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #5c5c5c; }
    form .columns input:not(.wpcf7-submit) :-moz-placeholder, form .columns textarea :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #5c5c5c;
      opacity: 1; }
    form .columns input:not(.wpcf7-submit) ::-moz-placeholder, form .columns textarea ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #5c5c5c;
      opacity: 1; }
    form .columns input:not(.wpcf7-submit) :-ms-input-placeholder, form .columns textarea :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #5c5c5c; }
    form .columns input:not(.wpcf7-submit):hover, form .columns textarea:hover {
      box-shadow: 0px 0px 25px 0px #ccc inset; }
  form .columns textarea {
    height: 202px;
    transition: padding 0.6s; }
    form .columns textarea:focus {
      padding: 0;
      padding-left: 10px; }
form .buttons {
  text-align: center;
  transition: all 0.6s; }
  form .buttons .ajax-loader {
    position: absolute;
    padding-top: 15px; }
  form .buttons input[type="submit"] {
    font-family: "Poiret One";
    font-size: 13px;
    text-transform: uppercase;
    color: #adaaa3;
    font-weight: 600;
    padding: 10px 25px;
    border: 1px solid #adaaa3;
    text-decoration: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.6s; }
    @media (max-width: 480px) {
      form .buttons input[type="submit"] {
        font-size: 12px; } }
    form .buttons input[type="submit"]:hover {
      background-color: #45D4FF;
      color: #000;
      border-color: cadetblue; }

.front-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black; }
  .front-page .wrap {
    position: relative;
    top: 40%;
    margin: 0 auto;
    text-align: center; }
    .front-page .wrap .logo a {
      font-family: "logoFont";
      font-weight: 300;
      text-decoration: none;
      color: #0098cb;
      font-size: 95.5px !important;
      line-height: 1; }
      .front-page .wrap .logo a sup {
        font-family: "Poiret One";
        font-size: 30.5px;
        padding-left: 10px; }
      @media (max-width: 480px) {
        .front-page .wrap .logo a {
          font-size: 64.5px !important; }
          .front-page .wrap .logo a sup {
            font-size: 24.5px;
            padding-left: 10px; } }
    .front-page .wrap .links a {
      font-family: "Poiret One";
      color: #adaaa3;
      font-size: 24px;
      text-decoration: none;
      font-weight: 600; }
      .front-page .wrap .links a.left {
        padding-right: 100px; }
      @media (max-width: 735px) {
        .front-page .wrap .links a.left {
          padding-right: 70px; } }
      @media (max-width: 480px) {
        .front-page .wrap .links a.left {
          padding-right: 60px; }
        .front-page .wrap .links a {
          font-size: 18px; } }

#footer {
  padding-top: 30px;
  text-align: center; }
  #footer .social-buttons ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px; }
    #footer .social-buttons ul li {
      list-style: none;
      font-family: "social-icons-v2"; }
      #footer .social-buttons ul li a {
        margin: 0 8px;
        text-decoration: none;
        color: #000;
        font-size: 24px;
        line-height: 24px;
        transition: all 0.3s ease-in-out; }
        #footer .social-buttons ul li a i {
          font-style: normal; }
        #footer .social-buttons ul li a.facebook:hover, #footer .social-buttons ul li a.facebook:focus {
          color: #3b5998; }
        #footer .social-buttons ul li a.insta:hover, #footer .social-buttons ul li a.insta:focus {
          color: #BF8360; }
        #footer .social-buttons ul li a.vk {
          width: 21px;
          height: 21px;
          display: inline-block;
          position: relative;
          border-radius: 5px;
          background-color: black;
          overflow: hidden;
          top: 2px;
          left: 0px;
          color: transparent; }
          #footer .social-buttons ul li a.vk svg {
            position: relative;
            top: -1px; }
            #footer .social-buttons ul li a.vk svg .st0 {
              fill: #fff; }
        #footer .social-buttons ul li a.vk:hover, #footer .social-buttons ul li a.vk:focus {
          background-color: #45688E; }
        #footer .social-buttons ul li a.mywed {
          width: 21px;
          height: 21px;
          display: inline-block;
          background-color: #000;
          border-radius: 4px;
          position: relative;
          top: 2px;
          overflow: hidden; }
          #footer .social-buttons ul li a.mywed svg {
            top: -1px;
            position: relative;
            transform: scale(0.8); }
            #footer .social-buttons ul li a.mywed svg .st0 {
              transition: all 0.3s;
              fill: #fff; }
        #footer .social-buttons ul li a.mywed:hover, #footer .social-buttons ul li a.mywed:focus {
          background-color: #fff; }
          #footer .social-buttons ul li a.mywed:hover svg .st0, #footer .social-buttons ul li a.mywed:focus svg .st0 {
            fill: #000; }
  #footer #copyright_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 15px; }
    @media (max-width: 768px) {
      #footer #copyright_text {
        padding: 10px 30px 15px; } }

.testmonial {
  padding: 30px 0 30px;
  border-bottom: 1px dashed #000; }
  .testmonial .image-wrapper {
    width: 100%;
    overflow: hidden; }
    .testmonial .image-wrapper img {
      width: 100%;
      height: auto; }
  .testmonial .text-wrapper .text {
    font-family: Arial;
    margin: 12px 0 0;
    font-size: 13px;
    line-height: 16px;
    color: #444; }
  .testmonial .text-wrapper .title {
    font-size: 18px; }
    @media (max-width: 768px) {
      .testmonial .text-wrapper .title {
        text-align: center; } }

.add-testmonial .send-testmonial {
  text-align: center; }
  .add-testmonial .send-testmonial .toggle-form {
    font-family: "Poiret One";
    font-size: 13px;
    text-transform: uppercase;
    color: #adaaa3;
    font-weight: 600;
    padding: 10px 25px;
    border: 1px solid;
    text-decoration: none; }
    @media (max-width: 480px) {
      .add-testmonial .send-testmonial .toggle-form {
        font-size: 12px; } }
    .add-testmonial .send-testmonial .toggle-form:hover {
      background-color: #45D4FF;
      color: #000;
      border-color: cadetblue; }
.add-testmonial .form-wrapper {
  margin-top: 30px;
  display: none; }
  .add-testmonial .form-wrapper form textarea {
    height: 132px; }

.gallery- {
  text-align: center; }
  .gallery- .gallery-preview {
    float: left;
    margin: 0 13px 10px 0; }
    @media (max-width: 584px) {
      .gallery- .gallery-preview {
        margin: 0 0 10px 0; } }
    @media (max-width: 950px) {
      .gallery- .gallery-preview {
        float: none;
        display: inline-block; } }
    .gallery- .gallery-preview a {
      display: block;
      text-decoration: none;
      font-size: 12px;
      outline: none; }
      .gallery- .gallery-preview a .name {
        text-align: left;
        padding-bottom: 0px;
        padding-top: 5px; }
      .gallery- .gallery-preview a:hover, .gallery- .gallery-preview a:visited {
        color: #707070 !important;
        outline: none; }
      .gallery- .gallery-preview a img {
        opacity: 0.82;
        transition: opacity 0.3s ease-in-out; }
        .gallery- .gallery-preview a img:hover {
          opacity: 1; }

body.light #wrapper, body:not(.dark) #wrapper {
  background-color: #fff; }
  body.light #wrapper .logo a, body:not(.dark) #wrapper .logo a {
    color: #adaaa3; }
  body.light #wrapper .links a, body:not(.dark) #wrapper .links a {
    color: #adaaa3; }
body.light #footer, body:not(.dark) #footer {
  background-color: #fff;
  color: #80917a; }

body.dark p {
  color: gray; }
body.dark hr {
  border-color: #5A5A5A; }
body.dark #wrapper .languages .language.active a {
  color: white; }
body.dark #wrapper .languages .language a {
  color: grey; }
body.dark #page-preloader {
  background-color: #000; }
body.dark .page-wrap a {
  color: gray; }
body.dark .page-wrap a:hover {
  color: #99ccff; }
body.dark form input:not(.wpcf7-submit), body.dark form textarea {
  background-color: transparent;
  border: 1px solid;
  color: #717171; }
  body.dark form input:not(.wpcf7-submit):hover, body.dark form textarea:hover {
    box-shadow: 0px 0px 24px -6px #ccc inset; }
body.dark form textarea {
  height: 208px; }
body.dark form .buttons input[type="submit"] {
  color: gray; }
  body.dark form .buttons input[type="submit"]:hover {
    background-color: brown;
    border-color: #fff;
    color: #fff; }
body.dark .testmonial {
  border-bottom: 1px dashed #676767; }
  body.dark .testmonial .text-wrapper .title {
    color: gray; }
  body.dark .testmonial .text-wrapper .text {
    color: gray; }
body.dark .add-testmonial .send-testmonial a.toggle-form {
  color: gray; }
  body.dark .add-testmonial .send-testmonial a.toggle-form:hover {
    background-color: brown;
    color: #fff;
    border-color: #fff; }
body.dark .header .links {
  /*color: $sub_logo_art_design_color;*/ }
  body.dark .header .links a.light {
    display: none; }
  body.dark .header .links a.dark {
    display: block; }
body.dark .header .menu-wrapper.light {
  display: none; }
body.dark .header .menu-wrapper.dark {
  display: block; }
body.dark .header .menu-wrapper .sub-menu {
  background-color: #000; }
  body.dark .header .menu-wrapper .sub-menu li {
    border-bottom: 1px dotted gray; }
    body.dark .header .menu-wrapper .sub-menu li a {
      color: #adaaa3; }
      body.dark .header .menu-wrapper .sub-menu li a:hover {
        color: #fff; }
body.dark .header .menu-wrapper ul li a {
  color: #adaaa3; }
  body.dark .header .menu-wrapper ul li a:hover {
    color: #fff; }
body.dark .header .menu-wrapper ul li:not(:last-child):after {
  color: #adaaa3; }
body.dark .header #menu-header-menu-dark .sub-menu {
  background-color: #fff; }
  body.dark .header #menu-header-menu-dark .sub-menu li a {
    color: #adaaa3; }
body.dark #wrapper {
  background-color: #000; }
  body.dark #wrapper .logo a {
    color: #0098cb; }
  body.dark #wrapper .links a {
    color: #adaaa3; }
body.dark .right-panel svg {
  fill: #fff; }
body.dark #footer {
  background-color: #000;
  color: gray; }
  body.dark #footer .social-buttons ul li a {
    color: #5F5F5F; }
    body.dark #footer .social-buttons ul li a.vk, body.dark #footer .social-buttons ul li a.mywed {
      background-color: #5F5F5F; }
      body.dark #footer .social-buttons ul li a.vk .st0, body.dark #footer .social-buttons ul li a.mywed .st0 {
        fill: #000; }
    body.dark #footer .social-buttons ul li a.vk:hover, body.dark #footer .social-buttons ul li a.vk:focus {
      background-color: #45688E; }
    body.dark #footer .social-buttons ul li a.mywed:hover .st0, body.dark #footer .social-buttons ul li a.mywed:focus .st0 {
      fill: white; }

.foogallery-default.spacing-width-10 a, .foogallery-default.spacing-width-10.foogallery-link-none img {
  width: 100% !important;
  height: auto !important;
  padding-left: 0px !important;
  margin-right: 0px !important; }

.fbx-loader {
  width: 100px !important;
  height: 100px !important;
  margin-top: -50px !important;
  margin-left: -50px !important;
  background-color: transparent !important;
  box-shadow: none !important; }

.fbx-loader > div {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  border: 7px solid rgba(255, 255, 255, 0) !important;
  border-top: 7px solid #02A092 !important;
  margin: 0px !important;
  padding: 0 !important;
  position: absolute !important;
  z-index: 3 !important;
  left: 3px !important;
  right: 3px !important;
  top: 3px !important;
  bottom: 3px !important;
  animation: spin 3s infinite linear !important; }
  .fbx-loader > div:before {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 1 !important;
    bottom: 0px !important;
    content: "" !important;
    border-radius: 50% !important;
    border: 4px solid transparent !important;
    border-top: 4px solid #017574 !important;
    animation: spin 2s infinite linear !important; }

.fbx-light .fbx-prev, .fbx-light .fbx-next, .fbx-light .fbx-close {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-color: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important; }

p {
  font-size: 14px;
  margin: 5px 0;
  padding: 0 15px;
  color: #000; }
  @media (max-width: 768px) {
    p {
      padding: 0 40px; } }

@media (max-width: 768px) {
  .vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1,
  .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2,
  .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3,
  .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3,
  .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4,
  .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5,
  .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6,
  .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6,
  .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7,
  .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8,
  .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9,
  .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9,
  .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10,
  .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11,
  .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12,
  .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
    padding-right: 0px !important; } }
.page-wrap a {
  color: #0e0e0e;
  transition: all 0.3s ease-in-out; }
.page-wrap a:hover {
  color: #99ccff; }
.page-wrap .copy-block {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  display: none;
  z-index: 99;
  box-shadow: 0px 0px 20px -10px #999; }

.right-panel {
  right: 0;
  bottom: 0;
  width: 90px;
  height: 100%; }
  .right-panel .scroll-top-btn {
    display: none;
    width: 25px;
    height: 15px;
    position: fixed;
    bottom: 45px;
    right: 70px;
    cursor: pointer;
    z-index: 1000;
    background: transparent !important; }
    @media (max-width: 768px) {
      .right-panel .scroll-top-btn {
        right: 20px; } }

@media (max-width: 767px) {
  .vc_row {
    margin-right: 0px !important; } }
.fbx-rounded .fbx-inner {
  border: 0px !important;
  border-radius: 0px !important; }
.fbx-rounded .fbx-prev {
  left: -35px !important; }
.fbx-rounded .fbx-next {
  right: -35px !important; }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

/*# sourceMappingURL=main.css.map */
