@font-face {
  font-family: 'social-icons-v2';
  src: url('../fonts/social-icons-v2.woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'social-icons-v2';
    src: url('../font/social-icons-v2.svg?25815597#social-icons-v2') format('svg');
  }
}
*/

.social-icons [class^="icon-"]:before, .social-icons [class*=" icon-"]:before {
  font-family: "social-icons-v2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.social-icons .social-icons-wrapper { 
    display: flex; 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center; 
}
.social-icons .social-icons-wrapper .social-icon-box {}

.icon-blogspot:before { content: '\e800' !important; } /* '' */
.icon-dribbble-circle:before { content: '\e801' !important; } /* '' */
.icon-dribbble-rounded:before { content: '\e802' !important; } /* '' */
.icon-dribbble:before { content: '\e803' !important; } /* '' */
.icon-facebook-circle:before { content: '\e804' !important; } /* '' */
.icon-facebook-rounded:before { content: '\e805' !important; } /* '' */
.icon-facebook:before { content: '\e806' !important; } /* '' */
.icon-flickr-circle:before { content: '\e807' !important; } /* '' */
.icon-500px-circle:before { content: '\e808' !important; } /* '' */
.icon-500px-rounded:before { content: '\e809' !important; } /* '' */
.icon-500px:before { content: '\e80a' !important; } /* '' */
.icon-behance-circle:before { content: '\e80b' !important; } /* '' */
.icon-flickr-rounded:before { content: '\e80c' !important; } /* '' */
.icon-flickr:before { content: '\e80d' !important; } /* '' */
.icon-gplus-circle:before { content: '\e80e' !important; } /* '' */
.icon-gplus-rounded:before { content: '\e80f' !important; } /* '' */
.icon-gplus:before { content: '\e810' !important; } /* '' */
.icon-instagram-circle:before { content: '\e811' !important; } /* '' */
.icon-instagram-rounded:before { content: '\e812' !important; } /* '' */
.icon-instagram:before { content: '\e813' !important; } /* '' */
.icon-linkedin-circle:before { content: '\e814' !important; } /* '' */
.icon-linkedin-rounded:before { content: '\e815' !important; } /* '' */
.icon-linkedin:before { content: '\e816' !important; } /* '' */
.icon-livejournal-circle:before { content: '\e817' !important; } /* '' */
.icon-livejournal-rounded:before { content: '\e818' !important; } /* '' */
.icon-livejournal:before { content: '\e819' !important; } /* '' */
.icon-mywed-circle:before { content: '\e81a' !important; } /* '' */
.icon-mywed-rounded:before { content: '\e81b' !important; } /* '' */
.icon-mywed:before { content: '\e81c' !important; } /* '' */
.icon-odnoklassniki-circle:before { content: '\e81d' !important; } /* '' */
.icon-odnoklassniki-rounded:before { content: '\e81e' !important; } /* '' */
.icon-odnoklassniki:before { content: '\e81f' !important; } /* '' */
.icon-pinterest-circle:before { content: '\e820' !important; } /* '' */
.icon-pinterest-rounded:before { content: '\e821' !important; } /* '' */
.icon-pinterest:before { content: '\e822' !important; } /* '' */
.icon-tumblr-circle:before { content: '\e823' !important; } /* '' */
.icon-tumblr-rounded:before { content: '\e824' !important; } /* '' */
.icon-tumblr:before { content: '\e825' !important; } /* '' */
.icon-twitter-circle:before { content: '\e826' !important; } /* '' */
.icon-twitter-rounded:before { content: '\e827' !important; } /* '' */
.icon-twitter:before { content: '\e828' !important; } /* '' */
.icon-vimeo-circle:before { content: '\e829' !important; } /* '' */
.icon-vimeo-rounded:before { content: '\e82a' !important; } /* '' */
.icon-vimeo:before { content: '\e82b' !important; } /* '' */
.icon-vkontakte-circle:before { content: '\e82c' !important; } /* '' */
.icon-vkontakte-rounded:before { content: '\e82d' !important; } /* '' */
.icon-behance-rounded:before { content: '\e82e' !important; } /* '' */
.icon-behance:before { content: '\e82f' !important; } /* '' */
.icon-blogspot-circle:before { content: '\e830' !important; } /* '' */
.icon-blogspot-rounded:before { content: '\e831' !important; } /* '' */
.icon-vkontakte:before { content: '\e832' !important; } /* '' */
.icon-youtube-circle:before { content: '\e833' !important; } /* '' */
.icon-youtube-rounded:before { content: '\e834' !important; } /* '' */
.icon-youtube:before { content: '\e835' !important; } /* '' */

/* Bruno */
.social-icons.size16px i  {font-size: 16px; line-height: 16px}
.social-icons.size24px i  {font-size: 24px; line-height: 24px}
.social-icons.size32px i  {font-size: 32px; line-height: 32px}

/* Fabio */
body.fabio .social-icons .social-icons-wrapper {display: block;}
body.fabio .social-icons .social-icons-wrapper .social-icon-box {display: inline-block;}

/* Levi */
body.levi .menu-left .social-icons .social-icons-wrapper {
    -webkit-justify-content: flex-start;
    justify-content: flex-start; 
}
body.levi .menu-right .social-icons .social-icons-wrapper {
    -webkit-justify-content: flex-end;
    justify-content: flex-end; 
}


/* Polina */
body.polina.desktop .social-icons .social-icons-wrapper { display: block; flex-direction: column; }